.index-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
	gap: 1px;
}


.index-photo {
	justify-self: center;
	margin-bottom: 2em;
}

.index-photo a img {
	max-width: 22em;
}