body {
	background-color: black;
	color: white;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif, Ariel;
}

.page-photo {
	max-width: 23em;
}

.page-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	justify-items: center;
}

.photo-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	column-gap: 20px;
}

.photo-title {
	background-color: grey;
	text-align: center;
	margin-bottom: 0px;
	padding: 10px;
}

.photo-caption {
	background-color: grey;
	font-size: 0.8em;
	margin-top: 0px;
	height: 2em;
	padding: 10px;
}

.photo-page-image {
	max-width: 23;
}