<% @title = 'About' %>
<%= image_tag("https://s3.us-east-2.amazonaws.com/media.michaelconiaris.com/images/Cat_and_Me_Small.jpeg", class: "page-photo") %>
<div>
	<h1 class="text-center">About Michael Coniaris</h1>
		<p>Michael Coniaris is a web developer, software engineer and photographer.</p>
		<p>He's also a soccer watching fanatic (NYCFC season ticket holder), political junkie, book reader and when he can, a napper.</p>
		<p>He is familiar with Ruby, Ruby on Rails, HTML, CSS, JavaScript, Angular, Bootstrap and working with APIs.</p>
</div>