<% @title = 'About' %>
<div class="page-container">
	<%= image_tag(get_about_photo[:link], class: "page-photo", alt: get_about_photo[:alt]) %>
	<div>
		<h1>About Michael Coniaris</h1>
		<p>Michael Coniaris is a web developer, software engineer and photographer.</p>
		<p>He's also a soccer watching fanatic (NYCFC season ticket holder), political junkie, book reader and when he can, a napper.</p>
		<p>He is familiar with Ruby, Ruby on Rails, HTML, CSS, JavaScript, Angular, Bootstrap and working with APIs.</p>
	</div>
</div>