<% @title = 'Code' %>
<div class="page-container">
	<%= image_tag(get_code_example_one_photo[:link], class: "page-photo",alt: get_code_example_one_photo[:alt]) %>
	<div>
		<h3>SPWG Card Maker</h3>
		<p>This app gives users the ability to create custom cards for the <a href="https://prowrestlingsuperstar.com">Pro Wrestling Superstar</a> game (an online simulation of a mid-1980s board game, which may be purchased <a href="https://prowrestlingsuperstar.com">here</a>. Users may also print out their cards if they prefer to play with dice and paper. As users modify their cards, the site generates and displays statistics on the relative strength of the card, based on points per round, as well as pin, sub, DQ percentage possibilities and priority rankings.</p>
	</div>
</div>
