<% @title = 'Contact' %>
<div class="page-container">
	<%= image_tag(get_contact_photo[:link], alt: get_contact_photo[:alt]) %>
	<div>
		<h1>Contact</h1>
		<div>
			<p>Reach me at...</p>
			<p><a href="https://github.com/mconiaris">GitHub</a></p>
			<p><a href="https://www.linkedin.com/in/michaelconiaris">LinkedIn</a></p>
			<p><a href="https://profiles.generalassemb.ly/profiles/michaelconiaris">General Assembly</a></p>
		</div>
	</div>
</div>