<div class="index-container">
	<div class="index-photo">
		<p>Code</p>
		<p><%= link_to(image_tag(get_code_photo[:link], alt: get_code_photo[:alt]), welcome_code_path) %></p>	
	</div>
	<div class="index-photo">
		<p>Photos</p>
		<p><%= link_to(image_tag(get_photos_photo[:link], alt: get_photos_photo[:alt]), welcome_photography_path) %></p>
	</div>
	<div class="index-photo">
		<p>About</p>
		<p><%= link_to(image_tag(get_about_photo[:link], alt: get_about_photo[:alt]), welcome_about_path) %></p>
	</div>
	<div class="index-photo">
		<p>Contact</p>
		<%= link_to image_tag("https://s3.us-east-2.amazonaws.com/media.michaelconiaris.com/images/Computer+Keyboard.jpeg"), welcome_contact_path %>
	</div>
</div>