<div class="index-photo">
<%= link_to image_tag("https://s3.us-east-2.amazonaws.com/media.michaelconiaris.com/images/code_logo.jpg"), welcome_code_path %>	
</div>
<div class="index-photo">
<%= link_to image_tag("https://s3.us-east-2.amazonaws.com/media.michaelconiaris.com/images/photos_logo.jpg"), welcome_photography_path %>
</div>
<div class="index-photo">
<%= link_to image_tag("https://s3.us-east-2.amazonaws.com/media.michaelconiaris.com/images/Cat_and_Me_Small.jpeg"), welcome_about_path %>
</div>
<div class="index-photo">
<%= link_to image_tag("https://s3.us-east-2.amazonaws.com/media.michaelconiaris.com/images/Computer+Keyboard.jpeg"), welcome_contact_path %>
</div>