<div class="container">
    <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Michael Coniaris", root_path %></li>
          <li>
            <li class="active"><a href="/">HOME</a></li>
          </li>          
          <li>
            navbar item
            </li>
          <li>
            navbar item
            </li>
            navbar item
        </ul>
  </nav>
</div>